.header {
    margin: 150px 0px 0px 0px;
    text-align: center;
}

.header h1 {
    font-size: 65px;
    margin-bottom: 20px;
}

.header a {
    color: #888888;
    font-size: 18px;
    margin-right: 16px;
}